<% content_for :title do %>What Temp is My Studio?<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="janestudio" data-view="Temperature" data-title="Current Temperature in Jane's Studio" data-moreinfo="In Fahrenheit" data-suffix="&deg;"></div>
    </li>

  </ul>
</div>
